
.idea/misc.xml
.idea/MSAI-349-Fall-2021-HW3.iml
__pycache__/confusion_matrix.cpython-38.pyc
__pycache__/dimensionality.cpython-38.pyc
__pycache__/functions.cpython-38.pyc
__pycache__/global_variables.cpython-38.pyc
__pycache__/insurability_processing.cpython-38.pyc
__pycache__/Simple_Feed_Forward.cpython-38.pyc
__pycache__/Simple_Feed_Forward_from_Scratch.cpython-38.pyc
__pycache__/starter3.cpython-38.pyc
